In [5]:
from forex_python.converter import CurrencyRates
from datetime import datetime

def get_historic_exchange_rate(date, base_currency, quote_currency):
    c = CurrencyRates(force_decimal=True)
    exchange_rate = c.get_rate(base_currency, quote_currency, date)
    return exchange_rate

# Example usage
date_string = '2023-08-20'
date = datetime.strptime(date_string, '%Y-%m-%d')
base_currency = 'JPY'
quote_currency = 'EUR'

exchange_rate = get_historic_exchange_rate(date, base_currency, quote_currency)
print(f"Exchange rate on {date}: 1 {base_currency} = {exchange_rate:.4f} {quote_currency}")

Exchange rate on 2023-08-20 00:00:00: 1 JPY = 0.0063 EUR

In [7]:
# Round a float to 2 decimal places
original_float = 123.456789
rounded_float = round(original_float*1.001, 2)

print(rounded_float)

123.58